In [5]:
import pandas as pd

In [6]:
def process_lookup(path):
    df = pd.read_csv(path)
    df['Q'] = df[pd.notnull(df['Total Cells in Table'])]['Table Title']
    df['Q'] = df['Q'].fillna(method='ffill')
    df = df[df['Line Number'].str.strip().str.len() >0]
    df['A'] = df[df['Table Title'].str.endswith(':')]['Table Title']
    df['A'] = df.groupby(['Table ID', 'Q'])['A'].transform(lambda group: group.ffill())
    df['Column'] = df['Sequence Number'].astype(str) +'_' + df['Line Number'].astype(str)
    return df[['Table ID', 'Column', 'Q', 'A','Table Title']]

In [7]:
pa = process_lookup('../../Data/raw_aggData/lookup_table20131Y.csv')
ba = process_lookup('../../Data/raw_aggData/lookup_table20135Y.csv')

In [8]:
pa

,Table ID,Column,Q,A,Table Title
2,B00001,1_1,UNWEIGHTED SAMPLE COUNT OF THE POPULATION,NaN,Total
5,B00002,1_1,UNWEIGHTED SAMPLE HOUSING UNITS,NaN,Total
8,B01001,2_1,SEX BY AGE,Total:,Total:
9,B01001,2_2,SEX BY AGE,Male:,Male:
10,B01001,2_3,SEX BY AGE,Male:,Under 5 years
11,B01001,2_4,SEX BY AGE,Male:,5 to 9 years
12,B01001,2_5,SEX BY AGE,Male:,10 to 14 years
13,B01001,2_6,SEX BY AGE,Male:,15 to 17 years
14,B01001,2_7,SEX BY AGE,Male:,18 and 19 years
15,B01001,2_8,SEX BY AGE,Male:,20 years
16,B01001,2_9,SEX BY AGE,Male:,21 years
17,B01001,2_10,SEX BY AGE,Male:,22 to 24 years
18,B01001,2_11,SEX BY AGE,Male:,25 to 29 years
19,B01001,2_12,SEX BY AGE,Male:,30 to 34 years
20,B01001,2_13,SEX BY AGE,Male:,35 to 39 years
21,B01001,2_14,SEX BY AGE,Male:,40 to 44 years
22,B01001,2_15,SEX BY AGE,Male:,45 to 49 years
23,B01001,2_16,SEX BY AGE,Male:,50 to 54 years
24,B01001,2_17,SEX BY AGE,Male:,55 to 59 years
25,B01001,2_18,SEX BY AGE,Male:,60 and 61 years
26,B01001,2_19,SEX BY AGE,Male:,62 to 64 years
27,B01001,2_20,SEX BY AGE,Male:,65 and 66 years
28,B01001,2_21,SEX BY AGE,Male:,67 to 69 years
29,B01001,2_22,SEX BY AGE,Male:,70 to 74 years
30,B01001,2_23,SEX BY AGE,Male:,75 to 79 years
31,B01001,2_24,SEX BY AGE,Male:,80 to 84 years
32,B01001,2_25,SEX BY AGE,Male:,85 years and over
33,B01001,2_26,SEX BY AGE,Female:,Female:
34,B01001,2_27,SEX BY AGE,Female:,Under 5 years
35,B01001,2_28,SEX BY AGE,Female:,5 to 9 years
...,...,...,...,...,...
35630,B992706,170_3,IMPUTATION OF MEDICARE COVERAGE,Total:,Not imputed
35633,B992707,170_1,IMPUTATION OF MEDICAID/MEANS-TESTED PUBLIC COV...,Total:,Total:
35634,B992707,170_2,IMPUTATION OF MEDICAID/MEANS-TESTED PUBLIC COV...,Total:,Imputed
35635,B992707,170_3,IMPUTATION OF MEDICAID/MEANS-TESTED PUBLIC COV...,Total:,Not imputed
35638,B992708,170_1,IMPUTATION OF TRICARE/MILITARY HEALTH COVERAGE,Total:,Total:
35639,B992708,170_2,IMPUTATION OF TRICARE/MILITARY HEALTH COVERAGE,Total:,Imputed
35640,B992708,170_3,IMPUTATION OF TRICARE/MILITARY HEALTH COVERAGE,Total:,Not imputed
35643,B992709,170_1,IMPUTATION OF VA HEALTH CARE,Total:,Total:
35644,B992709,170_2,IMPUTATION OF VA HEALTH CARE,Total:,Imputed
35645,B992709,170_3,IMPUTATION OF VA HEALTH CARE,Total:,Not imputed
35648,B99281,170_1,IMPUTATION OF HOUSEHOLD INTERNET ACCESS,Total:,Total:
35649,B99281,170_2,IMPUTATION OF HOUSEHOLD INTERNET ACCESS,Total:,Imputed
35650,B99281,170_3,IMPUTATION OF HOUSEHOLD INTERNET ACCESS,Total:,Not imputed
35653,B99282,170_1,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Total:,Total:
35654,B99282,170_1.5,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Desktop or laptop:,Desktop or laptop:
35655,B99282,170_2,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Desktop or laptop:,Imputed
35656,B99282,170_3,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Desktop or laptop:,Not imputed
35657,B99282,170_3.5,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Handheld computer:,Handheld computer:
35658,B99282,170_4,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Handheld computer:,Imputed
35659,B99282,170_5,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Handheld computer:,Not imputed
35660,B99282,170_5.5,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Other computer:,Other computer:
35661,B99282,170_6,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Other computer:,Imputed
35662,B99282,170_7,IMPUTATION OF HOUSEHOLD COMPUTER TYPE,Other computer:,Not imputed
35665,B99283,170_1,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Total:,Total:
35666,B99283,170_1.5,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Imputed:,Imputed:
35667,B99283,170_2,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Imputed:,Dial-up
35668,B99283,170_3,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Imputed:,DSL
35669,B99283,170_4,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Imputed:,"Cable modem, fiber-optic, satellite internet s..."
35670,B99283,170_5,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Imputed:,Mobile broadband
35671,B99283,170_6,IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...,Imputed:,Not imputed

In [9]:
ba

,Table ID,Column,Q,A,Table Title
2,B00001,1_1,UNWEIGHTED SAMPLE COUNT OF THE POPULATION,NaN,Total
5,B00002,1_1,UNWEIGHTED SAMPLE HOUSING UNITS,NaN,Total
8,B01001,2_1,SEX BY AGE,Total:,Total:
9,B01001,2_2,SEX BY AGE,Male:,Male:
10,B01001,2_3,SEX BY AGE,Male:,Under 5 years
11,B01001,2_4,SEX BY AGE,Male:,5 to 9 years
12,B01001,2_5,SEX BY AGE,Male:,10 to 14 years
13,B01001,2_6,SEX BY AGE,Male:,15 to 17 years
14,B01001,2_7,SEX BY AGE,Male:,18 and 19 years
15,B01001,2_8,SEX BY AGE,Male:,20 years
16,B01001,2_9,SEX BY AGE,Male:,21 years
17,B01001,2_10,SEX BY AGE,Male:,22 to 24 years
18,B01001,2_11,SEX BY AGE,Male:,25 to 29 years
19,B01001,2_12,SEX BY AGE,Male:,30 to 34 years
20,B01001,2_13,SEX BY AGE,Male:,35 to 39 years
21,B01001,2_14,SEX BY AGE,Male:,40 to 44 years
22,B01001,2_15,SEX BY AGE,Male:,45 to 49 years
23,B01001,2_16,SEX BY AGE,Male:,50 to 54 years
24,B01001,2_17,SEX BY AGE,Male:,55 to 59 years
25,B01001,2_18,SEX BY AGE,Male:,60 and 61 years
26,B01001,2_19,SEX BY AGE,Male:,62 to 64 years
27,B01001,2_20,SEX BY AGE,Male:,65 and 66 years
28,B01001,2_21,SEX BY AGE,Male:,67 to 69 years
29,B01001,2_22,SEX BY AGE,Male:,70 to 74 years
30,B01001,2_23,SEX BY AGE,Male:,75 to 79 years
31,B01001,2_24,SEX BY AGE,Male:,80 to 84 years
32,B01001,2_25,SEX BY AGE,Male:,85 years and over
33,B01001,2_26,SEX BY AGE,Female:,Female:
34,B01001,2_27,SEX BY AGE,Female:,Under 5 years
35,B01001,2_28,SEX BY AGE,Female:,5 to 9 years
...,...,...,...,...,...
24909,B99259,122_1,IMPUTATION OF PLUMBING FACILITIES,Total:,Total:
24910,B99259,122_2,IMPUTATION OF PLUMBING FACILITIES,Total:,Imputed
24911,B99259,122_3,IMPUTATION OF PLUMBING FACILITIES,Total:,Not imputed
24914,B992701,122_1,IMPUTATION OF HEALTH INSURANCE COVERAGE,Total:,Total:
24915,B992701,122_2,IMPUTATION OF HEALTH INSURANCE COVERAGE,Total:,One or more health insurance items imputed
24916,B992701,122_3,IMPUTATION OF HEALTH INSURANCE COVERAGE,Total:,No health insurance items imputed
24919,B992702,122_1,IMPUTATION OF PRIVATE HEALTH INSURANCE,Total:,Total:
24920,B992702,122_2,IMPUTATION OF PRIVATE HEALTH INSURANCE,Total:,One or more private health insurance items imp...
24921,B992702,122_3,IMPUTATION OF PRIVATE HEALTH INSURANCE,Total:,No private health insurance items imputed
24924,B992703,122_1,IMPUTATION OF PUBLIC HEALTH INSURANCE,Total:,Total:
24925,B992703,122_2,IMPUTATION OF PUBLIC HEALTH INSURANCE,Total:,One or more public coverage items imputed
24926,B992703,122_3,IMPUTATION OF PUBLIC HEALTH INSURANCE,Total:,No public coverage items imputed
24929,B992704,122_1,IMPUTATION OF EMPLOYER-BASED HEALTH INSURANCE,Total:,Total:
24930,B992704,122_2,IMPUTATION OF EMPLOYER-BASED HEALTH INSURANCE,Total:,Imputed
24931,B992704,122_3,IMPUTATION OF EMPLOYER-BASED HEALTH INSURANCE,Total:,Not imputed
24934,B992705,122_1,IMPUTATION OF DIRECT-PURCHASE HEALTH INSURANCE,Total:,Total:
24935,B992705,122_2,IMPUTATION OF DIRECT-PURCHASE HEALTH INSURANCE,Total:,Imputed
24936,B992705,122_3,IMPUTATION OF DIRECT-PURCHASE HEALTH INSURANCE,Total:,Not imputed
24939,B992706,122_1,IMPUTATION OF MEDICARE COVERAGE,Total:,Total:
24940,B992706,122_2,IMPUTATION OF MEDICARE COVERAGE,Total:,Imputed
24941,B992706,122_3,IMPUTATION OF MEDICARE COVERAGE,Total:,Not imputed
24944,B992707,122_1,IMPUTATION OF MEDICAID/MEANS-TESTED PUBLIC COV...,Total:,Total:
24945,B992707,122_2,IMPUTATION OF MEDICAID/MEANS-TESTED PUBLIC COV...,Total:,Imputed
24946,B992707,122_3,IMPUTATION OF MEDICAID/MEANS-TESTED PUBLIC COV...,Total:,Not imputed
24949,B992708,122_1,IMPUTATION OF TRICARE/MILITARY HEALTH COVERAGE,Total:,Total:
24950,B992708,122_2,IMPUTATION OF TRICARE/MILITARY HEALTH COVERAGE,Total:,Imputed
24951,B992708,122_3,IMPUTATION OF TRICARE/MILITARY HEALTH COVERAGE,Total:,Not imputed
24954,B992709,122_1,IMPUTATION OF VA HEALTH CARE,Total:,Total:
24955,B992709,122_2,IMPUTATION OF VA HEALTH CARE,Total:,Imputed
24956,B992709,122_3,IMPUTATION OF VA HEALTH CARE,Total:,Not imputed

# Intersecting Table ID's

In [10]:
len([ x for x in pa['Table ID'].unique().tolist() if x in ba['Table ID'].unique().tolist()])

1040

In [11]:
df = pa.merge(ba, how='inner', on=['Table ID','Q', 'A', 'Table Title'])
df.rename(columns={'Column_x':'puma_attr', 'Column_y':'block_attr'}, inplace=1)

In [12]:
df.shape

(43243, 6)

In [13]:
df.Q = df.Q.str.lower()
df['Table Title'] = df['Table Title'].str.lower()

In [14]:
# dropping all imputations
df = df[~df['Q'].str.contains('imputation')]
df.shape

(42803, 6)

In [15]:
# dropping all samples
df = df[~df['Q'].str.contains('sample')]
df.shape

(42796, 6)

In [16]:
df['Q_name'] = df.apply(lambda x:'%s_%s_%s_%s' % (x['Table ID'],x['Q'],x['A'],x['Table Title']),axis=1)

In [17]:
df[df['puma_attr']!=df['block_attr']].head(10)

,Table ID,puma_attr,Q,A,Table Title,block_attr,Q_name
406,B03001,6_1,hispanic or latino origin by specific origin,Total:,total:,5_1,B03001_hispanic or latino origin by specific o...
407,B03001,6_2,hispanic or latino origin by specific origin,Total:,not hispanic or latino,5_2,B03001_hispanic or latino origin by specific o...
408,B03001,6_3,hispanic or latino origin by specific origin,Hispanic or Latino:,hispanic or latino:,5_3,B03001_hispanic or latino origin by specific o...
409,B03001,6_4,hispanic or latino origin by specific origin,Hispanic or Latino:,mexican,5_4,B03001_hispanic or latino origin by specific o...
410,B03001,6_5,hispanic or latino origin by specific origin,Hispanic or Latino:,puerto rican,5_5,B03001_hispanic or latino origin by specific o...
411,B03001,6_6,hispanic or latino origin by specific origin,Hispanic or Latino:,cuban,5_6,B03001_hispanic or latino origin by specific o...
412,B03001,6_7,hispanic or latino origin by specific origin,Hispanic or Latino:,dominican (dominican republic),5_7,B03001_hispanic or latino origin by specific o...
413,B03001,6_8,hispanic or latino origin by specific origin,Central American:,central american:,5_8,B03001_hispanic or latino origin by specific o...
414,B03001,6_9,hispanic or latino origin by specific origin,Central American:,costa rican,5_9,B03001_hispanic or latino origin by specific o...
415,B03001,6_10,hispanic or latino origin by specific origin,Central American:,guatemalan,5_10,B03001_hispanic or latino origin by specific o...

In [18]:
r = df[['Q_name', 'puma_attr','block_attr']]
r.reset_index(inplace=1)
r['ourID'] = r['index'].apply(lambda x: 'our%d' % x)
r.drop('index',1, inplace=1)

/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
r['puma_attr'] = r.puma_attr.apply(lambda x: '_'.join((x.split('_')[0].zfill(4), x.split('_')[1])))
r['block_attr'] = r.puma_attr.apply(lambda x: '_'.join((x.split('_')[0].zfill(4), x.split('_')[1])))

/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [20]:
r.head(10)

                                    Q_name puma_attr block_attr  ourID
0          B01001_sex by age_Total:_total:    0002_1     0002_1   our2
1            B01001_sex by age_Male:_male:    0002_2     0002_2   our3
2    B01001_sex by age_Male:_under 5 years    0002_3     0002_3   our4
3     B01001_sex by age_Male:_5 to 9 years    0002_4     0002_4   our5
4   B01001_sex by age_Male:_10 to 14 years    0002_5     0002_5   our6
5   B01001_sex by age_Male:_15 to 17 years    0002_6     0002_6   our7
6  B01001_sex by age_Male:_18 and 19 years    0002_7     0002_7   our8
7         B01001_sex by age_Male:_20 years    0002_8     0002_8   our9
8         B01001_sex by age_Male:_21 years    0002_9     0002_9  our10
9   B01001_sex by age_Male:_22 to 24 years   0002_10    0002_10  our11

In [21]:
r.shape[0] == r['ourID'].unique().shape[0]

True

In [22]:
r.to_csv('../../Data/raw_aggData/attr_interconn.csv')